/* Reset the margin and padding of all elements. */

* {
	margin: 0;
	padding: 0;
}

/* Set up the basic page styles */

body {
	background-color: #262626;
	color: #ffffff;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: block;
	word-wrap: break-word;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

a {
	color: skyblue;
}

/* Set up the navbar styles, both for mobile and desktop viewports */

.navbar {
	display: flex;
	align-items: center;
	height: 64px;
	background-color: #404040;
}

.mobile-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	background-color: #404040;
}

.pfp-small {
	border-radius: 8px;
	width: 64px;
	height: 64px;
}

.pfp-large {
	border-radius: 8px;
	width: 128px;
	height: 128px;
}

/* Mobile magic! */

@media (max-width: 1023px) {
	.mobile-hide {
		display: none;
	}
}

@media (min-width: 1024px) {
	.mobile-show {
		display: none;
	}
}
