button {
	transition: 0.1s;
	font-size: 16px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 8px;
	background-color: #3b82f6;
	color: #ffffff;
}

button:hover {
	background-color: #60a5fa;
}

input {
	transition: 0.1s;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	border-radius: 8px;
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

input:focus-visible {
	outline: 1px solid #737373;
}