.post {
	background-color: #4b5563;
	padding: 32px;
	border: 1px solid transparent;
	border-radius: 8px;
	margin-bottom: 32px;
	transition: 0.5s linear;
}

.external-post {
	cursor: pointer;
}

.external-post:hover {
	box-shadow: 0 0 0 4px #4b5563aa;
}
