table {
	border-collapse: collapse;
	width: 100%;
	background-color: #404040; 
}

td, th {
	border: 1px solid #ffffff;
	text-align: center;
	padding: 16px;
}

tr:nth-child(even) {
	background-color: #525252;
}