<!DOCTYPE html>
<head>
	<title>404 not found - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/utils.css">
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container-fit" style="margin-top: 32px;">
		<h1 style="margin-bottom: 16px;">404 not found</h1>
		<h2>We couldn't find that page. Make sure the URL you entered is spelled correctly.</h2>
	</div>
</body>
