<!DOCTYPE html>
<head>
	<title>About - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/tables.css">
	<style>
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 16px;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	h3 {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	</style>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<h1>About</h1>
		<p><b>{{ .instance }}</b> is an instance of {{ .brandName }}, which is an information aggregator written in <a href="https://go.dev">Go</a>.</p>
		<h2>Active modules</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Version</th>
			</tr>
			{{range .modules}}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .Description }}</td>
				<td>{{ .Version }}</td>
			</tr>
			{{end}}
		</table>
		<h2>Credits</h2>
		{{ .brandCreditsHTML }}
	</div>
</body>
