<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Create invite - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/badges.css">
	<link rel="stylesheet" href="/static/css/utils.css">
	<link rel="stylesheet" href="/static/css/posts.css">
	<link rel="stylesheet" href="/static/css/forms.css">
	<script src="/static/js/index.js"></script>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<p><a href="{{ .profileURL }}">&lt;- Back</a></p>

		{{ if eq .inviteCode "" }}
		<h1 style="margin-top: 16px;">Create invite</h1>
		<form method="post" style="margin-top: 32px;">
			<p style="margin-bottom: 16px;">Maximum uses</p>

			<input type="number" name="maxuses" min="1" max="65535">

			<br>

			<button type="submit" style="margin-top: 16px;">Submit</button>
		</form>
	</div>
	{{ else }}
	<h1 style="margin-top: 16px; margin-bottom: 16px;">Create invite</h1>
	<p>Your invite code is <b>{{ .inviteCode }}</b>. Copy this invite code <b>now</b> - you won't be able to see it again.</p>
	{{ end }}
</body>
