<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Edit profile - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/badges.css">
	<link rel="stylesheet" href="/static/css/utils.css">
	<link rel="stylesheet" href="/static/css/posts.css">
	<link rel="stylesheet" href="/static/css/forms.css">
	<script src="/static/js/index.js"></script>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<p><a href="{{ .profileURL }}">&lt;- Back</a></p>
		<h1 style="margin-top: 16px;">Edit profile</h1>

		<form method="post" style="margin-top: 32px;">
			<img class="pfp-large" style="margin-bottom: 32px;" src="{{ .iconURL }}" alt="profile picture">
			<h1 style="margin-bottom: 16px;">
				@{{ .name }}
			</h1>

			<textarea name="description" style="margin-top: 16px;">{{ .description }}</textarea>

			<br>

			<button type="submit" style="margin-top: 16px;">Submit</button>
		</form>
	</div>
</body>
