<!DOCTYPE html>
<head>
	<title>Internal Server Error - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container-fit" style="margin-top: 32px;">
		<h1 style="margin-bottom: 16px;">Internal Server Error</h1>
		<h2>{{ .error }}</h2>
	</div>
</body>
