<!DOCTYPE html>
<head>
	<title>Explore - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/badges.css">
	<link rel="stylesheet" href="/static/css/profile-cards.css">
	<script src="/static/js/index.js"></script>
	<style>
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 32px;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	h3 {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	</style>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<h1>Explore</h1>
		<h2>Groups</h2>
		{{range .groups}}
		{{template "profilecard.html" . }}
		{{end}}
		<h2>Users</h2>
		{{range .users}}
		{{template "profilecard.html" . }}
		{{end}}
	</div>
</body>
