<div class="post external-post clickable-card" data-url="{{ .postURL }}">
	<img class="pfp-small" style="margin-bottom: 16px;" src="{{ .iconURL }}" alt="profile picture">
	<p class="text-md" style="margin-bottom: 16px;"><b>@{{ .name }}</b></p>
	<p style="margin-bottom: 32px;"><b>{{ .published }}</b></p>

	{{ .body }}

	<noscript>
		<p style="margin-top: 32px;"><a href="{{ .postURL }}">Read more</a></p>
	</noscript>
</div>