<!DOCTYPE html>
<head>
	<title>Log in - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/tables.css">
	<link rel="stylesheet" href="/static/css/forms.css">
	<style>
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 32px;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	h3 {
		margin-top: 16px;
		margin-bottom: 16px;
	}
	</style>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<h1>Log in</h1>
		<form method="post">
			<p style="margin-bottom: 16px;">Username</p>
			<input name="username"></input>
			<p style="margin-top: 16px; margin-bottom: 16px;">Password</p>
			<input type="password" name="password"></input>
			<br>
			<button type="submit" style="margin-top: 24px;">Submit</button>
			{{ if ne .error "" }}
			<p style="margin-top: 16px;"><i>{{ .error }}</i></p>
			{{ end }}
		</form>

		<p style="margin-top: 16px;">Don't have an account? Sign up <a href="/signup">here</a>.</p>
	</div>
</body>
