<div class="navbar mobile-hide">
	<a style="margin-left: 16px;" href="/"><img src="{{ .logoSVGURL }}" width="48px" height="48px" alt="logo icon"></a>
	<p style="margin-left: 32px;"><a href="/about">About</a></p>
	{{ if ne .me "" }}
	<p style="margin-left: 16px;"><a href="/logout">Log out</a></p>
	<p style="position: absolute; right: 16px;">Logged in as <a href="/@{{ .me }}">{{ .me }}</a></p>
	{{ else }}
	<p style="margin-left: 16px;"><a href="/login">Log in</a></p>
	{{ end }}
</div>
<div class="mobile-navbar mobile-show">
	<p style="margin-right: 16px;"><a href="/about">About</a></p>
	<a href="/"><img src="{{ .logoSVGURL }}" width="48px" height="48px" alt="logo icon"></a>
	{{ if ne .me "" }}
	<p style="margin-left: 16px;"><a href="/logout">Log out</a></p>
	{{ else }}
	<p style="margin-left: 16px;"><a href="/login">Log in</a></p>
	{{ end }}
</div>