<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>@{{ .name }} - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
	<link rel="stylesheet" href="/static/css/badges.css">
	<link rel="stylesheet" href="/static/css/utils.css">
	<link rel="stylesheet" href="/static/css/posts.css">
	{{ if eq .name .me }}
	<link rel="stylesheet" href="/static/css/forms.css">
	{{ end }}
	<script src="/static/js/index.js"></script>
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container" style="margin-top: 32px;">
		<img class="pfp-large" style="margin-bottom: 32px;" src="{{ .iconURL }}" alt="profile picture">
		<h1 style="margin-bottom: 16px;">
			@{{ .name }}
			{{ if ne .type "Person" }}
			<span class="badge mobile-hide" style="margin-left: 8px;">{{ .type }}</span>
			{{ end }}

			{{ if eq .role "admin" }}
			{{ if eq .name .me }}
			<!-- Logged in as an admin -->
			<span class="badge mobile-hide" style="margin-left: 8px;">Admin</span>
			<span class="badge mobile-hide">You!</span>
			{{ else }}
			<!-- Viewing an admin -->
			<span class="badge mobile-hide" style="margin-left: 8px;">Admin</span>
			{{ end }}
			{{ else }}
			{{ if eq .name .me }}
			<!-- Logged in as a non-admin -->
			<span class="badge mobile-hide" style="margin-left: 8px;">You!</span>
			{{ end }}
			{{ end }}
		</h1>
		
		{{ if ne .type "Person" }}
		<h2 class="mobile-show" style="margin-bottom: 32px;"><span class="badge">{{ .type }}</span></h2>
		{{ end }}

		{{ if eq .role "admin" }}
		{{ if eq .name .me }}
		<!-- Logged in as an admin -->
		<h2 class="mobile-show" style="margin-bottom: 16px;"><span class="badge">Admin</span></h2>
		<h2 class="mobile-show" style="margin-bottom: 32px;"><span class="badge">You!</span></h2>
		{{ else }}
		<!-- Viewing an admin -->
		<h2 class="mobile-show" style="margin-bottom: 32px;"><span class="badge">Admin</span></h2>
		{{ end }}
		{{ else }}
		{{ if eq .name .me }}
		<!-- Logged in as a non-admin -->
		<h2 class="mobile-show" style="margin-bottom: 32px;"><span class="badge">You!</span></h2>
		{{ end }}
		{{ end }}

		{{ if ne .description "" }}
		<div class="text-md" style="margin-bottom: 24px;">
			{{ .description }}
		</div>
		{{ end }}

		<p style="margin-bottom: 16px;">Created on <b>{{ .created }}</b>.</p>

		{{ if eq .name .me }}
		<p>
			<a href="/edit-profile">Edit profile</a> |
			{{ if .cancreateinvite }}
			<a href="/create-invite">Create invite</a> |
			{{ end }}
			<a href="/logout">Log out</a>
		</p>
		{{ end }}

		<p class="text-lg mobile-hide" style="margin-top: 64px; margin-bottom: 32px;">Posts</p>
		<p class="text-center text-lg mobile-show" style="margin-top: 64px; margin-bottom: 32px;">Posts</p>

		<div class="post-container">
			{{range .posts}}
			{{template "externalpost.html" . }}
			{{end}}
			<p>No more posts.</p>
		</div>
	</div>
</body>
