<div class="profile-card clickable-card" data-url="{{ .url }}">
	<img class="pfp-small" style="margin-bottom: 16px;" src="{{ .iconURL }}" alt="profile picture">
	<p class="text-md">
		<b>@{{ .name }}</b>
		{{ if ne .type "Person" }}
		<span class="badge" style="margin-left: 8px;">{{ .type }}</span>
		{{ end }}
	</p>
	{{ if ne .description "" }}
		<p class="text-md" style="margin-bottom: 16px;">
			{{ .description }}
		</p>
		{{ end }}
	<noscript>
		<p style="margin-top: 16px;"><a href="{{ .url }}">View profile</a></p>
	</noscript>
</div>