<p>You attempted to send an Activity (for example, you could have created a reply or favorited a post) to this server, <b>however, it was automatically rejected.</b></p>
<p>Here are the details:</p>
<p>====================</p>
{{ .details }}
<p>====================</p>
{{ if ne .adminContactEmail "" }}
<p>Please contact <span>{{ .adminContactEmail }}</span> if you have any questions or concerns.</p>
{{ end }}
<p><b>Do not reply to this message, as replies to automatic rejection messages do not actually get sent anywhere.</b></p>