<!DOCTYPE html>
<head>
	<title>System Message Information - {{ .brandName }}</title>
	<link href="{{ .logoSVGURL }}" rel="icon" type="image/svg">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/containers.css">
</head>
<body>
	{{ template "navbar.html" . }}
	<div class="content centered-container-fit" style="margin-top: 32px;">
		<h1 style="margin-bottom: 16px;">System Message Information</h1>
		<p>System messages are not stored in the database, so you can't just fetch a system message from the original server.</p>
		<p style="margin-top: 16px;"><b>Please read the private mention you received instead.</b></p>
		{{ if ne .adminContactEmail "" }}
		<p style="margin-top: 16px;">If you have any questions or concerns, please contact <a href="mailto:{{ .adminContactEmail }}">{{ .adminContactEmail }}</a>.</p>
		{{ end }}
	</div>
</body>
